# Heroes of Pymoli
---

### Analysis
* Of the 576 players 81 are female that are the 14.06%, but the majority are male with 484 players that represent the 84.03%.
* The majority of the players are between 20 to 24 years old, that are 258 representing the 44.79% of the total of players.
* The user who has spent more money in the store is Lisosia93 with a total purchase of \$18.96
* The item that has raised more money is the 'Final Critic' item with \$59.99 raised in 13 purchases.

---

In [552]:
#Set up
import pandas as pd

In [553]:
#Load the csv and seve the path in a variable
data_file = "Resources/purchase_data.csv"

In [554]:
#Read data with pandas
purchase_df = pd.read_csv(data_file)

In [555]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [556]:
purchase_df.shape

(780, 7)

## Player Count

* Display the total number of players.

In [557]:
total_players = len(purchase_df["SN"].unique())

#Display the total number of players
pd.DataFrame({"Tolal players": [total_players]})

   Tolal players
0            576

## Purchasing Analysis (Total)

 * Run basic calculations to obtain number of unique items, average price, etc.
 * Optional: give the displayed data cleaner formatting

In [558]:
#Number of Unique Items
unique_items = len(purchase_df["Item Name"].unique())
#Average Price
avg_price = '$' + str(round(purchase_df["Price"].mean(),2))
#Number of Purchases
num_purchases = len(purchase_df["Purchase ID"])
#Total Revenue
total_revenue = purchase_df["Price"].sum()
total_revenue = '$' + '{0:,}'.format(total_revenue)

* Create a summary data frame to hold the results
* Display the summary data frame

In [559]:
#Create and display a data frame that hold the results
pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [avg_price],
              "Number of Purchases": [num_purchases], "Total Revenue": [total_revenue]})

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

In [560]:
#Remove columns with repeated players for gender demographics
gender_df = purchase_df.drop_duplicates(subset = "SN")

*  Percentage and Count of Male Players

In [561]:
#Count of Male Players
male_players = len(gender_df.loc[gender_df["Gender"]=="Male"])
#Percentage of Male Players
male_percent = str(round((male_players*100)/total_players,2)) + "%"

* Percentage and Count of Female Players

In [562]:
#Count of Female Players
female_players = len(gender_df.loc[gender_df["Gender"]=="Female"])
#Percentage of Female Players
female_percent = str(round((female_players*100)/total_players,2)) + "%"

* Percentage and Count of Other / Non-Disclosed

In [563]:
#Count of Other Players
other_players = len(gender_df.loc[gender_df["Gender"]=="Other / Non-Disclosed"])
#Percentage of Other Players
other_percent = str(round((other_players*100)/total_players,2)) + "%"

* summary data frame

In [564]:
#Create and display a data frame that hold the results
pd.DataFrame({"": ["Male", "Female", "Other / Non-Disclosed"], 
              "Total Count": [male_players, female_players, other_players], 
              "Percentage of Players": [male_percent, female_percent, other_percent]}).set_index("")

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Optional: give the displayed data cleaner formatting

In [565]:
#Loc per Gender
female_loc = purchase_df.loc[purchase_df["Gender"] == "Female"]
male_loc = purchase_df.loc[purchase_df["Gender"] == "Male"]
other_loc = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed"]
#Purchase Count per Gender
female_count = len(female_loc)
male_count = len(male_loc)
other_count = len(other_loc)
#Average Purchase Price per Gender
avg_female = '$' + str('{:.2f}'.format(female_loc["Price"].mean()))
avd_male = '$' + str('{:.2f}'.format(male_loc["Price"].mean()))
avg_other = '$' + str('{:.2f}'.format(other_loc["Price"].mean()))
#Total Purchase Value per Gender
female_total = '$' + str(female_loc["Price"].sum())
male_total = '$' + str('{0:,}'.format(male_loc["Price"].sum()))
other_total = '$' + str(other_loc["Price"].sum())
#Avg Total Puerchase per Person
avg_total_female = '$' + str(round(female_loc["Price"].sum()/female_players,2))
avg_total_male = '$' + str(round(male_loc["Price"].sum()/male_players,2))
avg_total_other = '$' + str(round(other_loc["Price"].sum()/other_players,2))

* Create a summary data frame to hold the results
* Display the summary data frame

In [566]:
#Create and display a data frame that hold the results
pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"], 
              "Purchase Count": [female_count, male_count, other_count], 
              "Average Purchase Price": [avg_female, avd_male, avg_other], 
              "Total Purchase Value": [female_total, male_total, other_total], 
              "Avg Total Purchase per Person": [avg_total_female, avg_total_male, avg_total_other]}).set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()

In [567]:
#Create a copy of the table where no names are repeated
group_ages = gender_df
#Bins and names for the bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Data frame with Age Group 
group_ages["Age Group"] = pd.cut(group_ages["Age"], bins, labels=group_names, include_lowest=True)

<ipython-input-567-1b5d2188dbf2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group_ages["Age Group"] = pd.cut(group_ages["Age"], bins, labels=group_names, include_lowest=True)

* Optional: round the percentage column to two decimal points

In [568]:
#Create a list of the Total Count per Age Group
players_age = [ len(group_ages.loc[group_ages["Age Group"] == group ]) for group in group_names]
#Create a list of the Percentage of Players
pecent_players = [ str(round((age * 100) / total_players,2)) + "%" for age in players_age]

* Create a summary data frame to hold the results
* Display Age Demographics Table

In [569]:
#Create and display a data frame that hold the results
pd.DataFrame({"": group_names, "Total Count": players_age, "Percentage of Players": pecent_players}).set_index("")

       Total Count Percentage of Players

<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

In [570]:
#Create a copy of the main table data
group_ages_total = purchase_df
#Taking the Bin from the last exercise 
#Data frame with Age Group  of the total
group_ages_total["Age Group"] = pd.cut(group_ages_total["Age"], bins, labels=group_names, include_lowest=True)

In [571]:
#Create a list for the Purchase Count per Age Group
players_age_total = [ len(group_ages_total.loc[group_ages_total["Age Group"] == group ]) for group in group_names]
#Create a list for the Average Purchase Price per Age Group
avg_age_total = ['$' + str('{:.2f}'.format(group_ages_total.loc[group_ages_total["Age Group"] == group]["Price"].mean()))
                 for group in group_names]
#Create a list for the Total Purchase Value
total_age_total = [group_ages_total.loc[group_ages_total["Age Group"] == group]["Price"].sum()
                 for group in group_names]
total_age_total_format = ['$' + str('{0:,.2f}'.format(num)) for num in total_age_total]
#Create a list for the Avg Total Purchase per Person
avg_person_total = ['$' + str('{:.2f}'.format(total_age_total[i] / players_age[i])) for i in range(len(total_age_total))]

* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [572]:
#Create and display a data frame that hold the results
pd.DataFrame({"Age Ranges": group_names, 
              "Purchase Count": players_age_total, 
              "Average Purchase Price": avg_age_total, 
              "Total Purchase Value": total_age_total_format, 
              "Avg Total Purchase per Person": avg_person_total}).set_index("Age Ranges")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below

In [573]:
#Obtain an array with the unique names
unique_names = purchase_df["SN"].unique()
#Create a list for the Purchase Count per person
purchase_count = [len(purchase_df.loc[purchase_df["SN"] == name]) for name in unique_names]
#Create a list for the Average Purchase Price per person
avg_purch_price = ['$' + str('{:.2f}'.format(purchase_df.loc[purchase_df["SN"] == name]["Price"].mean())) 
                   for name in unique_names]
#Create a list for the Total Purchase value per person
total_purch_val = [purchase_df.loc[purchase_df["SN"] == name]["Price"].sum() for name in unique_names]

* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [574]:
#Create and display a data frame that hold the results
top_spenders_df = pd.DataFrame({"SN": unique_names, "Purchase Count": purchase_count, 
              "Average Purchase Price": avg_purch_price, "Total Purchase Value": total_purch_val}).set_index("SN")
#Sort the total purchase value column in descending order
top_spenders_df = top_spenders_df.sort_values("Total Purchase Value", ascending=False)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].astype(float).map("${:.2f}".format)
#Display a preview of the summary data frame
top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value

In [575]:
purchase_grouped = purchase_df.groupby(["Item ID", "Item Name"])
#Purchase count
purchase_id_count = pd.DataFrame(purchase_grouped["Purchase ID"].count())
purchase_id_count = purchase_id_count.rename(columns={"Purchase ID": "Purchase Count"})

In [576]:
#Item Price
price_item = pd.DataFrame(purchase_grouped["Price"].min())
price_item = price_item.rename(columns={"Price": "Item Price"})

In [577]:
#Total purchase Value
purchase_value = pd.DataFrame(purchase_grouped["Price"].sum())
purchase_value = purchase_value.rename(columns={"Price": "Total Purchase Value"})

* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [578]:
#Create and display a data frame that hold the results
#Merge the 3 tables
most_pop = purchase_id_count.merge(price_item, on = ["Item ID","Item Name"])
most_popular = most_pop.merge(purchase_value, on = ["Item ID","Item Name"])
#Sort by Purchase Count
most_popular = most_popular.sort_values("Purchase Count", ascending=False)
#Format to the prices 
most_popular["Item Price"] = most_popular["Item Price"].astype(float).map("${:.2f}".format)
most_popular["Total Purchase Value"] = most_popular["Total Purchase Value"].astype(float).map("${:.2f}".format)
#Display a preview of the summary data frame
most_popular.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.19,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.19,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the data frame

In [579]:
#Remove the $ symbol and convert to float to be able to sort the Total Purchase Value
most_popular["Total Purchase Value"] = most_popular["Total Purchase Value"].replace("\$", "", regex = True).astype(float)
#Sort the above table by total purchase value in descending order
most_popular = most_popular.sort_values("Total Purchase Value", ascending=False)
#Return the $ Symbol
most_popular["Total Purchase Value"] = most_popular["Total Purchase Value"].astype(float).map("${:.2f}".format)
most_popular.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.19,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80